<div id="main">
  <div id="content">
    <div id="controls">
      <button (click)="playVideos()">Play</button>
      <button (click)="pauseVideos()">Pause</button>
      <button (click)="rewindVideos()">Rewind</button>
    </div>

    <div id="bottom_controls">
      <label>
        <input #messageToSend>
      </label>
      <button (click)="sendMessage(messageToSend.value)">Send message</button>
    </div>

    <div id="connected_clients">
      <h4>Clients connectés : ({{ getConnectedClients().length }})</h4>
      <ul>
        <li *ngFor="let client of getConnectedClients()">
          {{ utils.getClientSimpleId(client) }} :
          <span *ngIf="connected_clients[client] === ''" [ngClass]="'no_video'">No video</span>
          <span *ngIf="connected_clients[client] !== ''" [ngClass]="'video_selected'">{{ connected_clients[client] }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div id="bottom">
    <div class="title_log">
      <span>Message history</span>
      <button (click)="messages=[]">clear history</button>
    </div>
    <ul class="message_log">
      <li *ngFor="let msg of messages.reverse()">
        {{ msg }}
      </li>
    </ul>
  </div>
</div>
